
<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <script src="../../Scripts/jquery-1.7.1,.js"></script>
    <script type="text/javascript" src="../../Scripts/EmpIndex.js">
       
    </script>
</head>
<body>
    <div>
        <input id="Button1" type="button" onclick="getEmployee();" value="Show Data" />
    </div>
    <div id="d1"></div>
</body>
</html>
